/* Headings and Fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Pinyon+Script&display=swap');

body {
    background-color: #f6e7ee;
    padding: 0;
}

h1 {
    font-family: 'Pinyon Script', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
}